.header{
 
  
  color: white;

  &__nav{
    position: relative;
    @media only screen and (max-width:$bp-small) { 
      
    height: 10rem;
  }
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
  .desktop__menu{
    @media only screen and (max-width:$bp-small) { 
      display: none;
  }
    text-decoration: none;
    display: flex;
    list-style: none;
    gap: 3rem;
  }
  .desktop__menu--item{
    font-size: 2rem;
    color: $dark-grayish-blue;
    cursor: pointer;
    &:hover{
      color: $primarySoft-orange;
    }
  }
  &__menu{
    @media only screen and (max-width:$bp-largest) {
      display: none;
     }
     @media only screen and (max-width:$bp-small) {
      display:block;
     }
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    height: 2000px;
    overflow: hidden;
    width: 70%;
    font-size: 2rem;
    color: black;
   z-index: 10;

    ul{
      text-decoration: none;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 20rem;
      left: 10rem;
      
      gap: 5rem;
    }
    li{
      list-style: none;
      font-size: 3rem;
      font-family: $primary-font;
      font-weight: 800;
     
    }
  }
  

}

.hidden{
  display: none;
  visibility: hidden;
  opacity: 0;
}